<div *ngFor="let keyValue of getFilteredGetModules() | keyvalue">
  {{ keyValue.key }} {{keyValue.value}}
</div>
<div *ngFor="let keyValue of postValues| keyvalue">
  {{keyValue.key}}
  <div *ngIf="keyValue.value=='Boolean'">
      <input type="checkbox" [(ngModel)]="formData[keyValue.key]"
                               name="{{keyValue.value}}"/>
  </div>
  <div *ngIf="keyValue.value=='Integer'">
     <input type="number" [(ngModel)]="formData[keyValue.key]"
                              name="{{keyValue.value}}"/>
  </div>
  <div *ngIf="keyValue.value=='Float'">
    <input type="number" [(ngModel)]="formData[keyValue.key]"
                              name="{{keyValue.value}}"/>
  </div>
  <div *ngIf="keyValue.value=='String'">
     <input type="text" [(ngModel)]="formData[keyValue.key]"
                              name="{{keyValue.value}}"/>
  </div>
</div>
<button class="btn btn-success" style="margin-left: 1vw" (click)="postUpdate()">Update</button>

