<p>
  {{name}}
</p>


<div *ngFor="let keyValue of getValues | keyvalue">
  {{ keyValue.key }} {{keyValue.value}}
</div>
<br>


<div *ngFor="let keyValue of postValues| keyvalue">
  <div *ngIf="keyValue.value=='Boolean'">
    {{ keyValue.key }}  <input type="checkbox" [(ngModel)]="formdata[keyValue.key]"
                               name="{{keyValue.value}}"/>
  </div>
  <div *ngIf="keyValue.value=='Integer'">
    {{ keyValue.key }} <input type="number" [(ngModel)]="formdata[keyValue.key]"
                              name="{{keyValue.key}}"/>
  </div>
  <div *ngIf="keyValue.value=='Float'">
    {{ keyValue.key }} <input type="number" [(ngModel)]="formdata[keyValue.key]"
                              name="{{keyValue.value}}"/>
  </div>
  <div *ngIf="keyValue.value=='String'">
    {{ keyValue.key }} <input type="text" [(ngModel)]="formdata[keyValue.key]"
                              name="{{keyValue.value}}"/>
  </div>
</div>
<br>
<button class="btn btn-success" (click)="postUpdate()">Update</button>

