<h1>Accessible devices</h1>
<div *ngFor="let device of permissionedDevices; let i = index">
  Id: {{device.deviceSpecification.id  }}
  Capabilities
  {{getCapabilities(device.deviceSpecification) }}
</div>

<h1>Available devices</h1>
<div *ngFor="let device of unPermissionedDevices; let i = index">
  Id: {{device.deviceSpecification.id }}
  Capabilities
  {{getCapabilities(device.deviceSpecification) }}
  <a routerLink="/tangle/{{device.deviceSpecification.id}}" [queryParams]="{device: device}"
     routerLinkActive="active">Other Devices</a>
</div>
