<app-navbar></app-navbar>
<div align="center">
  <h1>Accessible devices</h1>
  <table style="width: 50%" class="table text-center table-bordered table-info"
         *ngFor="let device of permissionedDevices; let i = index">
    <tr>Id: {{device.tangleDeviceSpecification.deviceSpecification.id  }}</tr>
    <tr>Capabilities: {{getCapabilities(device.tangleDeviceSpecification.deviceSpecification)}}</tr>
    <button class="btn btn-primary"
            (click)="navigateToStrangerDevice(device.tangleDeviceSpecification.deviceSpecification.id,device.tangleDeviceSpecification,device.address)">
      More info
    </button>
  </table>
  <h1>Available devices</h1>
  <table style="width: 50%" class="table text-center table-bordered table-info"
         *ngFor="let device of unPermissionedDevices; let i = index">
    <tr>Id: {{device.tangleDeviceSpecification.deviceSpecification.id  }}</tr>
    <tr>Capabilities: {{getCapabilities(device.tangleDeviceSpecification.deviceSpecification)}}</tr>
    <button class="btn btn-primary"
            (click)="navigateToInfo(device.tangleDeviceSpecification.deviceSpecification.id,device.tangleDeviceSpecification,device.address)">
      Request Access
    </button>
  </table>
</div>
