<div class="jumbotron" style="height: 100%; background-color: aliceblue" >
  <p class="text-center"><b class="display-1">House overview</b></p>
  <table class="table container h-100 d-flex justify-content-center">
    <tbody>
    <td class="col">
      <iotdevices></iotdevices>
    </td>
    <td class="col">
      <app-procuration></app-procuration>
    </td>
    <tr><a routerLink="/tangle" routerLinkActive="active">Other Devices</a></tr>
    <tr class="row container d-flex justify-content-center">
      <app-rule></app-rule>
    </tr>
    </tbody>
  </table>
</div>
