<app-navbar></app-navbar>
<h1 class="text-center">
  {{id}}
</h1>
<div align="center">
<label>From</label>
<input style="margin-left: 1vw" type="datetime-local" name="fromDate" value="2019-04-01T10:23:29.716Z" [(ngModel)]="fromDate">
<label style="margin-left: 1vw">To</label>
<input style="margin-left: 1vw" type="datetime-local" name="toDate" value="2017-06-01T08:30" [(ngModel)]="toDate">
  <br>
  <br>
<button class="btn btn-primary" (click)="requestDeviceAccess()">Request access</button>
</div>
