<p style="font-size: 30px">Recieved Procurations</p>
<div><a style="font-size: 30px">accepted
  <button style="font-size: 30px" class="btn btn-link"
          (click)="recievedAcceptedCollapsed = !recievedAcceptedCollapsed">{{recievedAcceptedCollapsed ? "←" : "↓"}}</button>
</a>
  <div [ngbCollapse]="recievedAcceptedCollapsed">
    <table class="table table-bordered table-hover" style=" border: 2px solid #158000; background-color: lightgreen"
           *ngFor="let proc of recievedAccepted">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
<div>
  <a style="font-size: 30px;">pending
    <button style="font-size: 30px" class="btn btn-link"
            (click)="recievedPendingCollapsed = !recievedPendingCollapsed">{{recievedPendingCollapsed ? "←" : "↓"}}</button>
  </a>
  <div [ngbCollapse]="recievedPendingCollapsed">
    <table class="table table-bordered table-hover" style=" border: 2px #ffea00; background-color: #ffff00"
           *ngFor="let proc of recievedPending">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
      <tr>
        <button class="btn btn-success" (click)="this.acceptProc(proc.messageChainID)">ACCEPT</button>
        <button class="btn btn-danger" (click)="this.rejectProc(proc.messageChainID)">REJECT</button>
      </tr>
    </table>
  </div>
</div>
<div><a style="font-size: 30px">expired
  <button style="font-size: 30px" class="btn btn-link"
          (click)="recievedExpiredCollapsed = !recievedExpiredCollapsed">{{recievedExpiredCollapsed ? "←" : "↓"}}</button>
</a>
  <div [ngbCollapse]="recievedExpiredCollapsed">
    <br>
    <table class="table table-bordered table-hover" style=" border: 2px solid #ff947f; background-color: #ff7faa"
           *ngFor="let proc of recievedExpired">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
<p style="font-size: 30px">Sent Procurations</p>
<div><a style="font-size: 30px">accepted
  <button style="font-size: 30px" class="btn btn-link"
          (click)="sentAcceptedCollapsed = !sentAcceptedCollapsed">{{sentAcceptedCollapsed ? "←" : "↓"}}</button>
</a>
  <div [ngbCollapse]="sentAcceptedCollapsed">
    <table class="table table-bordered table-hover" style=" border: 2px solid #158000; background-color: lightgreen"
           *ngFor="let proc of sentAccepted">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
<div>
  <a style="font-size: 30px;">pending
    <button style="font-size: 30px" class="btn btn-link"
            (click)="sentPendingCollapsed = !sentPendingCollapsed">{{sentPendingCollapsed ? "←" : "↓"}}</button>
  </a>
  <div [ngbCollapse]="sentPendingCollapsed">
    <table class="table table-bordered table-hover" style=" border: 2px solid #ffea00; background-color: #ffff00"
           *ngFor="let proc of sentPending">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
<div><a style="font-size: 30px">expired
  <button style="font-size: 30px" class="btn btn-link"
          (click)="sentExpiredCollapsed = !sentExpiredCollapsed">{{sentExpiredCollapsed ? "←" : "↓"}}</button>
</a>
  <div [ngbCollapse]="sentExpiredCollapsed">
    <br>
    <table class="table table-bordered table-hover" style=" border: 2px solid #ff947f; background-color: #ff7faa"
           *ngFor="let proc of sentExpired">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
