<div><b>accepted</b>
  <button (click)="acceptedCollapsed = !acceptedCollapsed">{{acceptedCollapsed ? "←" : "↓"}}</button>
  <div [ngbCollapse]="acceptedCollapsed">
    <br>
    <div *ngFor="let proc of accepted">
      <div>DeviceID: {{proc.deviceID}}</div>
      <div>Requestee Public Key: {{proc.recipientPublicKey}}</div>
      <div>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</div>
      <br>
    </div>
  </div>
</div>
<div>
  <b>pending</b>
  <button (click)="pendingCollapsed = !pendingCollapsed">{{pendingCollapsed ? "←" : "↓"}}</button>
  <div [ngbCollapse]="pendingCollapsed">
    <br>
    <div *ngFor="let proc of pending">
      <div>{{proc.deviceID}}</div>
      <div>{{proc.recipientPublicKey}}</div>
      <div>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</div>
      <div>
        <button class="btn btn-success" (click)="this.acceptProc(proc.messageChainID)">ACCEPT</button>
        <button class="btn btn-reject" (click)="this.rejectProc(proc.messageChainID)">REJECT</button>
      </div>
      <br>
    </div>
  </div>
</div>
<div><b>expired</b>
  <button (click)="expiredCollapsed = !expiredCollapsed">{{expiredCollapsed ? "←" : "↓"}}</button>
  <div [ngbCollapse]="expiredCollapsed">
    <br>
    <div *ngFor="let proc of expired">
      <div>{{proc.deviceID}}</div>
      <div>{{proc.recipientPublicKey}}</div>
      <div>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</div>
      <br>
    </div>
  </div>
</div>
