<div><a style="font-size: 30px">accepted
  <button style="font-size: 30px" class="btn btn-link"
          (click)="acceptedCollapsed = !acceptedCollapsed">{{acceptedCollapsed ? "←" : "↓"}}</button>
</a>
  <div [ngbCollapse]="acceptedCollapsed">
    <table class="table table-bordered table-hover" style=" border: 2px solid #ff947f; background-color: #ff7faa"
           *ngFor="let proc of accepted">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
<div>
  <a style="font-size: 30px;">pending
    <button style="font-size: 30px" class="btn btn-link"
            (click)="pendingCollapsed = !pendingCollapsed">{{pendingCollapsed ? "←" : "↓"}}</button>
  </a>
  <div [ngbCollapse]="pendingCollapsed">
    <table class="table table-bordered table-hover" style=" border: 2px solid #ff947f; background-color: #ff7faa"
           *ngFor="let proc of pending">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
      <tr>
        <button class="btn btn-success" (click)="this.acceptProc(proc.messageChainID)">ACCEPT</button>
        <button class="btn btn-danger" (click)="this.rejectProc(proc.messageChainID)">REJECT</button>
      </tr>
    </table>
  </div>
</div>
<div><a style="font-size: 30px">expired
  <button style="font-size: 30px" class="btn btn-link"
          (click)="expiredCollapsed = !expiredCollapsed">{{expiredCollapsed ? "←" : "↓"}}</button>
</a>
  <div [ngbCollapse]="expiredCollapsed">
    <br>
    <table class="table table-bordered table-hover" style=" border: 2px solid #ff947f; background-color: #ff7faa"
           *ngFor="let proc of expired">
      <tr>DeviceID: {{proc.deviceID}}</tr>
      <tr>Requestee Public Key: {{proc.recipientPublicKey}}</tr>
      <tr>Requested from: {{proc.dateFrom}} to {{proc.dateTo}}</tr>
    </table>
  </div>
</div>
